<%- css('css/navbar-static') %>

<div class="ui container">
	<div class="ui large secondary pointing menu navbar">
		<a class="home-logo" href="<%- theme.menu.Home %>"><img class="logo" alt="Easy2D-logo" src="<%- theme.logo %>"></a>
		<a class="item" href="<%- theme.menu.Home %>">首页</a>
		<a class="<% if (type == 'start') { %>active<% } %> item" href="<%- theme.menu.Start %>">开始使用</a>
		<a class="<% if (type == 'examples') { %>active<% } %> item" href="<%- theme.menu.Examples %>">示例教程</a>
		<!--<a class="<% if (type == 'doc') { %>active<% } %> item" href="<%- theme.menu.Document %>">API文档</a>-->
		<a class="<% if (is_archive()) { %>active<% } %> item" href="<%- theme.menu.News %>">官方资讯</a>
		<a class="<% if (type == 'feedback') { %>active<% } %> item" href="<%- theme.menu.Feedback %>">问题反馈</a>
		<a class="<% if (type == 'about') { %>active<% } %> item" href="<%- theme.menu.About %>">关于我们</a>
	</div>
</div>

<div class="ui large secondary pointing menu slidebar-btn">
	<a class="toc item"><i class="sidebar icon"></i></a>
</div>
