<%- css('css/navbar') %>
<%- js('js/navbar') %>

<!-- Following Menu -->
<div class="ui large right top fixed navbar menu">
    <div class="ui container">
        <a href="<%- theme.menu.home %>"><img class="logo" alt="返回首页" src="<%- theme.logo %>"></a>
        <div class="large right menu">
            <% if (!index) { %><a class="item" href="<%- theme.menu.home %>">首页</a><% } %>
            <a class="item" href="<%- theme.menu.download %>">下载</a>
            <a class="item" href="<%- theme.menu.start %>">开始使用</a>
            <a class="item" href="<%- theme.menu.tutorial %>">入门教程</a>
            <a class="item" href="<%- theme.menu.examples %>">示例游戏</a>
            <!--<a class="item" href="<%- theme.menu.document %>">API文档</a>-->
			<a class="item" href="<%- theme.menu.news %>">官方资讯</a>
            <a class="item" href="<%- theme.menu.about %>">关于我们</a>
        </div>
    </div>
</div>