<h2 class="ui header">关于 Easy2D</h1>
<p>Easy2D 诞生于2016年12月18日，起初是以学习开发游戏引擎为初衷的一个尝试作品，因为第一代引擎是基于 EasyX 图形库制作而得名。Easy2D 汲取了许多优秀的社会资源，通过开源的方式来回馈社区，源代码发布在 <a href="<%- theme.dist.gitee %>" target="_blank">Gitee</a> 上。</p>
<p>现在 Easy2D 可以用来制作一些简单的游戏，但是仍有许多问题和不足。使用过程中如有疑问，请到问题反馈页面提交你的意见或建议。</p>

<br/>

<h2 class="ui header">关于开发团队</h1>
<p>团队相识于网络，我们不以盈利为目的，完全自发组织维护 Easy2D 引擎的发展。</p>
<p>诚邀新伙伴加入到 Easy2D 的开发中~ 无论你对编程、设计、引擎测试还是其他任何方面有兴趣，都请联系 QQ 569629550~ </p>
<br/>

<div class="ui cards">
	<% page.coders.forEach(function(item) { %>
	<div class="card">
		<div class="content">
			<img class="right floated mini ui image" alt="avatar" src="<%- item.avatar %>">
			<div class="header"><%- item.name %></div>
			<div class="meta"><span class="role">负责<%- item.role %></span></div>
			<i class="quote left icon"></i>
			<div class="description"><%- item.description %></div>
			<i class="right floated quote right icon"></i>
		</div>
		<a class="ui bottom attached button" href="<%- item.blog_url %>" target="_blank"><i class="book icon"></i> <%= item.blog %> </a>
	</div>
	<% }) %>
</div>
