<%- page.content %>

<br/>

<div class="ui cards">
	<% page.coders.forEach(function(item) { %>
	<div class="card">
		<div class="content">
			<img class="right floated mini ui image" alt="avatar" src="<%- item.avatar %>">
			<div class="header"><%- item.name %></div>
			<div class="meta"><span class="role">负责<%- item.role %></span></div>
			<i class="quote left icon"></i>
			<div class="description"><%- item.description %></div>
			<i class="right floated quote right icon"></i>
		</div>
		<a class="ui bottom attached button" href="<%- item.blog_url %>" target="_blank"><i class="book icon"></i> <%= item.blog %> </a>
	</div>
	<% }) %>
</div>
