<style>
.example-cards {
    text-align: center;
    padding: 4em 2em;
}
.ui.card {
    margin: 1em 5px;
    margin-bottom: 35px;
    display: inline-block;
}
.ui.card .content {
    min-height: 128px;
}
.ui.card .description {
    margin-top: 10px;
}
.ui.card .image {
  width: 290px;
  height: 330px;
  background-repeat: no-repeat;
  background-origin: center;
  background-position: center;
  background-size: cover;
}
</style>

<div class="example-cards">

<% page.examples.forEach(function(item) { %>
    <div class="ui card" id="<%- item.id %>">
        <div class="image" style="background-image:url(<%- item.image %>);"></div>
        <div class="content">
            <div class="header"><%- item.name %></div>
            <div class="meta">
                <div class="author"><%- item.author %> </div>
            </div>
            <div class="description"><%- item.description %> </div>
        </div>
        <% if (item.src_url && item.exe_url) { %>
        <div class="ui bottom attached two buttons">
            <a class="ui button" href="<%- item.src_url %>">下载源码</a>
            <a class="ui blue button" href="<%- item.exe_url %>">下载游戏</a>
        </div>
        <% } else { %>
        <a class="ui blue button" target="_blank" href="<%- item.exe_url %>">下载游戏 &amp; 源码</a>
        <% } %>
    </div>
<% }); %>

</div>

<%- page.content %>