<style>
.example-cards {
    text-align: center;
}
.ui.card {
    margin: 1em auto;
    margin-bottom: 35px;
}
.ui.card .description {
    margin-top: 10px;
}
</style>

<div class="example-cards">

<% page.examples.forEach(function(item) { %>
    <div class="ui card" id="<%- item.id %>">
        <div class="image"><img src="<%- item.image %>"></div>
        <div class="content">
            <div class="header"><%- item.name %></div>
            <div class="meta">
                <div class="author"><%- item.author %> </div>
            </div>
            <div class="description"><%- item.description %> </div>
        </div>
        <% if (item.src_url && item.exe_url) { %>
        <div class="ui bottom attached two buttons">
            <a class="ui button" href="<%- item.src_url %>">下载源码</a>
            <a class="ui blue button" href="<%- item.exe_url %>">下载游戏</a>
        </div>
        <% } else { %>
        <a class="ui blue button" target="_blank" href="<%- item.exe_url %>">下载游戏 &amp; 源码</a>
        <% } %>
    </div>
<% }); %>

</div>

<%- page.content %>