<div class="ui inverted vertical footer segment">
	<div class="ui center aligned container">
		<div class="ui stackable inverted divided grid">
			<div class="three wide column">
				<h4 class="ui inverted header">安装</h4>
				<div class="ui inverted link list">
					<a class="item" href="<%- theme.menu.download %>">最新版本</a>
					<a class="item" href="<%- theme.menu.history %>">历史版本</a>
				</div>
			</div>
			<div class="three wide column">
				<h4 class="ui inverted header">文档</h4>
				<div class="ui inverted link list">
					<a class="item" href="<%- theme.menu.tutorial %>">入门教程</a>
					<a class="item" href="<%- theme.menu.examples %>">示例游戏</a>
				</div>
			</div>
			<div class="three wide column">
				<h4 class="ui inverted header">源码</h4>
				<div class="ui inverted link list">
					<a class="item" href="<%- theme.social.github %>" target="_blank">GitHub</a>
					<a class="item" href="<%- theme.social.gitee %>" target="_blank">Gitee</a>
				</div>
			</div>
			<div class="six wide column">
				<div class="footer-text">
					<h4 class="ui inverted header">联系方式</h4>
					<p>技术咨询邮箱：support@easy2d.cn</p>
					<p>QQ 群：1362919224</p>
				</div>
			</div>
		</div>
		<div class="ui inverted section divider"></div>
		<img src="/assets/images/logo.png"  alt="Easy2D-logo" class="ui centered mini image">
		<div class="ui horizontal inverted small divided link list" style="margin-bottom:0">
			<a class="item" href="/sitemap.xml" target="_blank">Site Map</a>
			<a class="item" href="/atom.xml" target="_blank">RSS</a>
			<a class="item" href="http://www.nomango.cn" target="_blank">Blog</a>
		</div>
		<div class="ui inverted small link list">
			<p class="item" >&copy; 2016 - <%- date(Date.now(), "YYYY") %></p>
		</div>
		<div class="ui inverted small link list">
			<a class="item" href="http://www.miitbeian.gov.cn" target="_blank"><%- theme.ICP %></a>
		</div>
	</div>
</div>