<div class="ui inverted vertical footer segment">
	<div class="ui center aligned container">
		<div class="ui stackable inverted divided grid">
			<div class="four wide column">
				<h4 class="ui inverted header">下载</h4>
				<div class="ui inverted link list">
					<a class="item" href="<%- theme.dist.github %>" target="_blank">Github</a>
					<a class="item" href="/download" target="_blank">最新版</a>
					<a class="item" href="<%- theme.dist.history %>" target="_blank">历史版本</a>
				</div>
			</div>
			<div class="four wide column">
				<h4 class="ui inverted header">文档</h4>
				<div class="ui inverted link list">
					<a class="item" href="<%- theme.menu.Examples %>">示例代码</a>
					<a class="item" href="<%- theme.menu.Document %>">API文档</a>
					<a class="item" href="<%- theme.menu.FAQ %>">常见问题</a>
				</div>
			</div>
			<div class="seven wide column">
				<div class="footer-text">
					<h4 class="ui inverted header">联系方式</h4>
					<p>技术咨询邮箱：support@easy2d.cn</p>
					<p>QQ 群：608406540</p>
				</div>
			</div>
		</div>
		<div class="ui inverted section divider"></div>
		<img src="/assets/images/logo.png"  alt="Easy2D-logo" class="ui centered mini image">
		<div class="ui horizontal inverted small divided link list" style="margin-bottom:0">
			<a class="item" href="/sitemap.xml" target="_blank">Site Map</a>
			<a class="item" href="/atom.xml" target="_blank">RSS</a>
			<a class="item" href="http://www.werelone.cn" target="_blank">Blog</a>
		</div>
		<div class="ui inverted small link list">
			<p class="item" >&copy; 2016 - <%- date(Date.now(), "YYYY") %></p>
		</div>
		<div class="ui inverted small link list">
			<a class="item" href="http://www.miitbeian.gov.cn" target="_blank"><%- theme.ICP %></a>
		</div>
	</div>
</div>