<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
	<a class="item" href="<%- theme.menu.home %>">首页</a>
	<a class="item" href="<%- theme.menu.download %>">安装</a>
    <!-- <a class="item" href="<%- theme.menu.start %>">开始使用</a> -->
	<a class="item" href="<%- theme.menu.tutorial %>">入门教程</a>
	<a class="item" href="<%- theme.menu.examples %>">示例代码</a>
	<!--<a class="item" href="<%- theme.menu.document %>">API文档</a>-->
	<!-- <a class="item" href="<%- theme.menu.news %>">官方资讯</a> -->
	<a class="item" href="<%- theme.menu.about %>">关于</a>
</div>