<div class="ui large breadcrumb">
	<a class="section" href="<%- theme.menu.Home %>">首页</a>
	<i class="right chevron icon divider"></i>
	<a class="section" href="<%- theme.menu.Tutorial %>">入门教程</a>
	<i class="right chevron icon divider"></i>
	<div class="active section"><%- page.subtitle %></div>
</div>

<div class="ui grid" style="margin-top:0;">
	<div class="four wide column">
		<%- partial('_partial/_widget/sticky', { page: page }) %>
	</div>
	<div class="twelve wide column">
		<%- page.content %>
	</div>
</div>
