<%- css('css/home') %>
<%- partial('_partial/_widget/navbar', {index: true}) %>

<script>
$(document).ready(function(){
	$('.examples.shape').shape();

	$('.next-example.button').on('click', function() {
		$('.examples.shape').shape('flip.back');
	});
});
</script>

<!-- Page Contents -->
<div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment index-bg">

		<div class="ui container">
			<div class="ui large secondary inverted pointing menu" style="border:none">
				<a class="toc item"><i class="sidebar icon"></i></a>
			</div>
		</div>

		<div class="ui text container">
			<div class="ui index-header-text">
				<img class="logo" src="/assets/images/logo_text_light.png" alt="Easy2D">
				<!-- <h1 class="ui inverted header">Easy2D</h1> -->
				<h2><%- theme.index.subtitle %></h2>
			</div>
			<div class="ui container index-header-buttons">
				<a class="ui huge primary button" href="<%- theme.menu.download %>">安装 <%- theme.index.button.latest_version %> </a>
				<!-- <a class="ui huge secondary button" href="/develop"> <%- theme.index.button.testing %> </a> -->
				<div class="index-header-extend" style="display:block;margin-top:10px;">
					<% if (theme.index.button.update_date) { %>
						<span><%- theme.index.button.update_date %> 更新 </span>
						<span> | </span>
					<% } %>
					<span><a class="ui link history" href="<%- theme.menu.history %>">查看历史版本 </a></span>
				</div>
			</div>
		</div>

    </div>

    <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
        <div class="eight wide column">
            <h3 class="ui header">简易的安装和使用方式</h3>
            <p>安装程序可以自动识别你的 Visual Studio 版本并提供安装建议，只需要短短几分钟进行下载和安装，你就可以在项目中引入头文件并开始使用 Easy2D 了。</p>
            <h3 class="ui header">面向 C++ 初学者</h3>
            <p>Easy2D 是为 C++ 初学者设计的 Windows 桌面游戏的开发框架，你只需说明场景中的每个元素应该做什么，Easy2D 就可以自动处理它们，让一切变得井然有序。</p>
			<h3 class="ui header">开放的源代码</h3>
            <p>Easy2D 汲取了许多优秀的社区资源，通过开源的方式回馈社区，其源代码发布在 <a href="<%- theme.social.github %>" target="_blank">GitHub</a> 上。</p>
        </div>
        <div class="six wide right floated column index-epimg">
			<h3>示例代码</h3>
			<div class="ui examples shape">
				<div class="ui sides">
				<% example_index = 0; %>
				<% theme.index.examples.forEach(function(item) { %>
					<% example_index++; %>
					<% if (example_index == 1) { %>
						<div class="active side">
					<% } else { %>
						<div class="side">
					<% } %>
						<div class="ui card">
							<div class="example-image" style="background-image:url(<%- item.image %>);"></div>
							<div class="content">
								<div class="header"><%- item.name %> </div>
								<div class="meta">制作：<%- item.author %> </div>
								<div class="description"><%- item.description %> </div>
							</div>
							<div class="extra content">
								<span class="right floated"><a href="<%- item.url %>">查看详情 </a></span>
							</div>
						</div>
					</div>
				<% }); %>
				</div>
			</div>
			<div class="ui buttons" style="width:290px;margin-top:5px;">
				<div class="ui next-example button"><i class="ui refresh icon"></i>&nbsp;换一个</div>
			</div>
        </div>
        </div>
        <div class="row">
        <div class="center aligned column">
            <a class="ui huge button" href="<%- theme.menu.start %>">了解更多</a>
        </div>
        </div>
    </div>
    </div>

    <div class="ui vertical stripe quote segment">
    <div class="ui equal width stackable internally celled grid">
        <div class="center aligned row">
        <div class="column">
            <h3>"Easy2D支持什么编译器?"</h3>
            <p>引擎支持 Visual Studio 2015 及以上版本，如果你使用的是较低版本的 VS，那么你需要考虑一下更新你的编译器了。</p>
        </div>
        <div class="column">
            <h3>" 我需要多久学会它? "</h3>
            <p>我们提供了帮助文档和许多示例代码，只要你做好了学习游戏开发的<b>准备</b>，几天内就可以适应 Easy2D 的开发模式。</p>
        </div>
        </div>
    </div>
    </div>
</div>
