<%- css('css/page') %>
<%- partial('_partial/_widget/navbar', {index: false}) %>

<div class="pusher">
	<div class="ui inverted vertical masthead center aligned segment page-title-background">
		<div class="ui container">
			<div class="ui large secondary inverted pointing menu" style="border:none">
				<a class="toc item"><i class="sidebar icon"></i></a>
			</div>
		</div>

		<div class="ui text container">
			<div class="ui page-header-text">
				<h1 class="ui inverted header"><i class="ui <%- page.icon %> icon"></i><%- page.title %></h1>
			</div>
		</div>
    </div>

	<% if (page.toc) { %>
		<div class="ui main container">
			<div class="ui segment page-content">
				<%- partial('_partial/' + page.type) %>
			</div>
		</div>
	<% } else { %>
		<div class="ui main text container">
			<div class="ui segment page-content">
				<%- partial('_partial/' + page.type) %>
			</div>
		</div>
	<% } %>
</div>