<%- css('css/page') %>
<%- css('css/post') %>
<div class="pusher">

<%- partial('_partial/_widget/navbar', { index: false }) %>

<div class="ui inverted vertical masthead center aligned segment page-title-background">
	<div class="ui container">
		<div class="ui large secondary inverted pointing menu" style="border:none">
			<a class="toc item"><i class="sidebar icon"></i></a>
		</div>
	</div>

	<div class="ui text container">
		<div class="ui page-header-text">
			<h1 class="ui inverted header"><i class="ui newspaper icon"></i>官方资讯</h1>
		</div>
	</div>
</div>

<div class="ui main text container">
	<h1><%- page.title %></h1>
	<div class="post-meta">
		<span class="post-time">
			<i class="calendar outline icon"></i>
			<time datetime="<%= date_xml(page.date) %>" itemprop="datePublished"><%= date(page.date, null) %></time>
		</span>
		<% if (page.author) { %>
			<span class="post-author">
				<i class="user icon"></i>
				<span><%= page.author %></span>
			</span>
		<% } %>
	</div>
	<br/><br/>
	<%- page.content %>
	<br/>
	<% if (page.button && page.button_url) { %>
		<a class="ui blue button" href="<%- page.button_url %>"><%- page.button %></a>
	<% } %>
	<a class="ui button" href="<%- theme.menu.News %>">返回</a>
</div>

</div>